.control-container {
  display: flex;
  gap: 1.5rem;
}

.control-container > * {
  padding: 0.75rem 1rem;
  border-radius: 4px;
}

<<<<<<< HEAD
.control-container button {
  width: 8rem;
  transition-duration: 0.4s;
}

.control-container button:hover:enabled {
  background-color: #1ABC9C;
  color: white
}

=======
>>>>>>> 0dcd2182e0bc4ac847145c5f2e3533cbb71e1658
.file-upload {
  display: inline-block;
  background: #24A0ED;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.file-upload input {
  display: none;
}